<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yakety</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>

<header>Yakety</header>


<body>
   

            {{{ body }}}
        </main>
              

        </div>
    </form>
    
     
        
    <script src="/javascript/logout.js"></script>
    <script src="/javascript/login.js"></script>
    <script src="/javascript/signup.js"></script>
</body>

</html>