<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yakety</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>

<body>
    {{!-- <div class="wrapper">
        <div class="header">
            <div class="container">
                <nav class="row nav justify-content-evenly">
                    <div class="col-12 col-md-4 text-center">
                        <button id="logout" class="logout-btn">Log Out</button>
                    </div>
                </nav>
            </div>
            <div class="title">
                <h1 class="text-center">Yakety</h1>
            </div>
        </div> --}}
        <main>
            {{{ body }}}
        </main>
        {{!-- <footer>
            Thanks for visiting!
        </footer>
    </div> --}}
    <script src="/javascript/logout.js"></script>
</body>

</html>