<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yakety</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <div class="container">
                <nav class="row nav justify-content-evenly">
                    <div class="col-12 col-md-4 text-center">
                        <button id="logout" class="logout-btn">Log Out</button>
                    </div>
                </nav>
            </div>
            <div class="title">
                <h1 class="text-center">Yakety</h1>
            </div>
        </div>
        <main>
            {{{ body }}}
        </main>
        <footer>
            Thanks for visiting!
        </footer>
    </div>
    <script src="/javascript/logout.js"></script>
</body>

</html>