<!-- Modal -->
<div class="modal" id="newMessageModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newChatModalTitle">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <textarea class="form-control" id="newMessageText" rows="3" placeholder="What would you like to say?"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-close" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="sendNewChat">Send</button>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="newMessageModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newChatModalTitle">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <textarea class="form-control" id="newMessageText" rows="3" placeholder="What would you like to say?"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-close" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="sendNewChat">Send</button>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="leftSide">
    <div class="header">
      <h2 id="userWelcome" data-userid="{{user_id}}">Welcome {{username}}</h2>
    </div>
    <div class="searchChat">
      <input id="findUser" class="form-control" placeholder="Find a user" autocomplete="off">
      <ul id="foundUsers">
      </ul>
    </div>
    <div class="chatlist">
      <ul id="chatsList" style="list-style: none;">
      </ul>
    </div>
  </div>
   
  <div class="rightSide">
    <div class="header">

    </div>  
    <div class="chatbox" id="messages">

    </div>
    
    <div class="chat_input">

      <textarea class="form-control" id="messageContent" rows="2" placeholder="What would you like to say?"></textarea>
      <button id="sendMessage" class="button">Send</button>
    
    </div>
  </div>
</div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascript/chat.js"></script>
  {{!-- <script src="/javascript/logout.js"></script> --}}
</body>

</html>
