<div class="main">
      <p class="sign" align="center">Log in</p>
    <form class="login-form forms">
              <div>
            <label for="username-login">Username:</label>
            <input class="un" type="text" id="username-login" />
        </div>
        <div>
            <label for="password-login">Password:</label>
            <input class="pass" type="password" id="password-login" />
        </div>
        <div>
            <button type="submit" class="login-btn">Log In</button>
        </div>
            <button type="submit" class="appear-signup-btn">Sign Up</button>
    </form>
    <div>
       
    </div>
    <form hidden class="signup-form forms">
        <p class="sign">Sign Up</p>
        <div>
            <label for="username-signup">Username:</label>
            <input class="un" type="text" id="username-signup" />
        </div>
        <div>
            <label for="password-signup">Password:</label>
            <input class="pass" type="password" id="password-signup" />
        </div>
         <button type="submit" class="appear-signup-btn">Sign Up</button>
    </form>
</div>



 

<script src="/javascript/login.js"></script>
<script src="/javascript/signup.js"></script>