<div class="container text-center">
    <form class="login-form forms">
        <h3>Log In</h3>
        <div>
            <label for="username-login">Username:</label>
            <input type="text" id="username-login" />
        </div>
        <div>
            <label for="password-login">Password:</label>
            <input type="password" id="password-login" />
        </div>
        <div>
            <button type="submit" class="login-btn">Log In</button>
        </div>
    </form>
    <br />
    <div>
        <button class="appear-signup-btn">
            Sign Up
        </button>
    </div>
    <form hidden class="signup-form forms">
        <h3>Sign Up</h3>
        <div>
            <label for="username-signup">Username:</label>
            <input type="text" id="username-signup" />
        </div>
        <div>
            <label for="password-signup">Password:</label>
            <input type="password" id="password-signup" />
        </div>
        <div>
            <button type="submit" class="signup-btn">Sign Up</button>
        </div>
    </form>
</div>

<script src="/javascript/login.js"></script>
<script src="/javascript/signup.js"></script>