<div class="main">
    <form class="login-form forms">
        <p class="sign" align="center">Sign in</p>
        <div>
            <input class="un" type="text" placeholder="Username" id="username-login" />
        </div>
        <div>
            <input class="pass" type="password" placeholder="Password" id="password-login" />
        </div>
        <div>
            <button type="submit" class="login-btn">Log In</button>
        </div>
    </form>
    <br />
    <div>
        <button class="appear-signup-btn">
            Sign Up
        </button>
    </div>
    <form hidden class="signup-form forms">
        <p class="sign" align="center">Sign Up</p>
        <div>
            <input class="un" type="text" id="username-signup" placeholder="Username" />
        </div>
        <div>
            <input class="pass" type="password" id="password-signup" placeholder="Password"/>
            <button type="submit" class="signup-btn">Sign Up</button>
        </div>
    </form>
</div>
<script src="/javascript/login.js"></script>
<script src="/javascript/signup.js"></script>